@page "/"

<h1>WHAT ARE U DOING STEPBRO????!!!</h1>


U ARE GOING TO BRAZIL!
<img src="C:\Users\Павел\OneDrive\Рабочий стол\prac\CalcApp\CalcApp\IMG_20230512_192354.jpg" />

<SurveyPrompt Title="How is Blazor working for you?" />
